main{
    border: 1px solid blue;
}
section.categorias img{
    width: 200px;
    display: block
    margin: 0 auto;
}

.categorias{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    flex-wrap: wrap;
}

 [href="new"]{
    text-align: center;
    width: 250px;
    height: 20px;
    color: white;
    background-color: rgb(83, 123, 241);
    display: flex;
    padding: 15px 45px;
    border-radius: 3px;
}