/* #titulo_categoria h2{
    padding: 50px;
} */

.categoria1{
    display: flex;
    padding: 20px;
    font-size: 24px;
    font-family: montserrat; sans-serif;
    font-weight: bolder;
    color: black;
    justify-content: center;
    
    
   
}

section.categorias img{
    width: 120px;
    display: block
    /* margin: auto; */
   
}

.categorias{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap;
    color: blue;
   text-align: center;
  
}



#miBoton{
    background: #0C99FF;
    color: white;
    width: 210px;
    height: 20px;
    border: 0;
    
}

#button{
    display: flex;
    justify-content: center;
    padding: 30PX;
    
}
